{{> menu active="account"}}

<form class="box" action="/account/update" method="POST">
  <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="{{user.firstName}}" name="firstName">
      </div>
  </div>
  <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="{{user.lastName}}" name="lastName">
      </div>
    </div>
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="{{user.email}}" name="email">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="*****" name="password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <button class="button is-primary">Save</button>
</form>

{{> list-placemark}}