<form class="box" action="/placemark/{{placemark._id}}/addcomment" method="POST">
  <label>Enter comment:</label>
        <textarea class="textarea" placeholder="Tell us what do you think about this place" name="description"></textarea>
  <button class="button is-primary">Add Comment</button>
</form>
