{{#each placemarks}}
  <div class="box box-link-hover-shadow">
    <h2 class="title">
      {{>card}}
    </h2>
    <a href="/placemark/{{_id}}" class="button">
      <span class="icon is-small">
        <i class="fas fa-folder-open"></i>
      </span>
    </a>
  </div>
{{/each}}